[submodule "gohugo-themes/budparr/gohugo-theme-ananke"]
	path = gohugo-themes/budparr/gohugo-theme-ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "content/Thinkgamer/GitBlog"]
	path = content/Thinkgamer/GitBlog
	url = https://github.com/Thinkgamer/GitBlog.git
	branch = master
[submodule "content/kongqw/kongqw.github.io"]
	path = content/kongqw/kongqw.github.io
	url = https://github.com/kongqw/kongqw.github.io.git
	branch = next
