[submodule "content/Thinkgamer/GitBlog"]
	path = content/Thinkgamer/GitBlog
	url = https://github.com/Thinkgamer/GitBlog.git
	branch = master
[submodule "content/kongqw/kongqw.github.io"]
	path = content/kongqw/kongqw.github.io
	url = https://github.com/kongqw/kongqw.github.io.git
	branch = next
[submodule "public-repository"]
	path = public-repository
	url = git@github.com:daonao/chuxin.git
	branch = master
[submodule "content/huzhenghui/public-article"]
	path = content/huzhenghui/public-article
	url = https://github.com/huzhenghui/public-article.git
	branch = master
[submodule "gohugo-themes/devcows/hugo-universal-theme"]
	path = gohugo-themes/devcows/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "gohugo-themes/huzhenghui/hugo-universal-theme"]
	path = gohugo-themes/huzhenghui/hugo-universal-theme
	url = https://github.com/huzhenghui/hugo-universal-theme
